
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link href="~/Content/login.css" rel="stylesheet" />
</head>
<body>
    <br /><br /><br /><br />
    <div class="warning-text">@ViewBag.Messenge</div>

    <div>
        @using (Html.BeginForm("LoginCheck", "Login", FormMethod.Post))
        {
            <div class="title text-center" style="font-size: 50px;">ĐĂNG NHẬP</div>
            <div style="text-align: center;">
                <input class="loginTerm" type="text" name="TaiKhoan" placeholder="Địa chỉ Email*">
            </div>
            <div style="text-align: center;">
                <input class="loginTerm" type="password" name="MatKhau" placeholder="Mật khẩu*">
            </div>



            <br>
            <br>
            <br>
            <input class="login-btn" type="submit" value="Đăng nhập" />
            <br>
            <br>
            <br>
        }
        <a href="/Login/Register" class="button">
            <input class=" register-btn" type="submit" value="Tạo tài khoản" />
        </a>
    </div>

    <div style="height:455px"></div>
</body>