@{
    ViewBag.Title = "Redirect";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="warning-text">Chúc mừng bạn đã đăng ký thành công!</div>
<div style="text-align:center"><h1>Click <a href="/Home" class="cheer-text">Vào đây</a> để bắt đầu mua sắm</h1>  </div>