@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link href="~/Content/register.css" rel="stylesheet" />
</head>
<body>
    <div class="warning-text">@ViewBag.Messenge</div>
    <div>
        @using (Html.BeginForm())
        {
        <br>
        <br>
        <br>
        <div class="title text-center" style="font-size: 50px;">ĐĂNG KÝ TÀI KHOẢN</div>
        <div class="container-fluid">

            <div class="row">
                <div class="col-lg-6">
                    <input class="registerTerm" name="TaiKhoan" style="float: right;" placeholder="Tài khoản*"></input>
                </div>
                <div class="col-lg-6">
                    <input class="registerTerm" type="text" name="TenKH" style="float: left;" placeholder="Tên*"></input>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <input class="registerTerm" type="password" name="password" style="float: right;" placeholder="Mật khẩu*"></input>
                </div>
                <div class="col-lg-6">
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <input class="registerTerm" type="password" name="ReTypedpassword" style="float: right;" placeholder="Xác nhận mật khẩu*"></input>
                </div>
                <div class="col-lg-6" style="width: 500px;">
                    <div class="row">
                        <div class="col-lg-3" style="font-size: 20px; padding-top: 20px; width: 125px;">
                            <input type="date" class="regis" placeholder="nhập ngày sinh" size="40" name="NgaySinh">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <input class="registerTerm" type="text" style="float: right;" name="SDT" placeholder="SDT*"></input>
                </div>
                <div class="col-lg-6" style="width: 400px;">
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <input class="register-btn" type="submit" value="Đăng ký" />
        }
    </div>
</body>
<script>function isInputNumber(evt) {

        var ch = String.fromCharCode(evt.which);

        if (!(/[0-9]/.test(ch))) {
            evt.preventDefault();
        }

    }</script>