@{
    ViewBag.Title = "ThanhToan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <head>
        <link href="~/Content/register.css" rel="stylesheet" />
    </head>

@using (Html.BeginForm())
{
    <br>
    <br>
    <br>
    <br />
    <br />
    <br />
    <br />
    <div class="warning-text">@ViewBag.Messenge</div>
    <div class="title text-center" style="font-size: 50px;">THANH TOÁN</div>
    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-6">
                <input id="DiaChiGiaoHang" class="registerTerm" name="DiaChiGiaoHang" style="float: right;" placeholder="Địa chỉ*">
            </div>
            <div class="col-lg-6">
                <input id="SDTGiaoHang" class="registerTerm" type="text" name="SDTGiaoHang" style="float: left;" value="" placeholder="Số điện thoại*">
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <input class="registerTerm" type="text" name="GhiChu" style="float: right;" placeholder="Ghi chú">
            </div>
            <div class="col-lg-6">
                <input class="registerTerm" type="text" name="NgayHenGiaoHang" style="float: left;" placeholder="Ngày nhận hàng">
            </div>
        </div>
        <br />
        <input class="register-btn" type="submit" value="Xác nhận" />
    </div>
}