body {
    background-color: white;
}

.dropbtn {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
    background: #003326;
    padding-right: 90px;
}

.dropdown {
    position: static;
    float: left;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content a {
        display: block;
        background: white;
        color: #b3b3b3;
        padding: 8px 16px;
        text-decoration: none;
        border: 2px solid #e6e6e6;
        border-top: none;
    }

        .dropdown-content a.active {
            background-color: #4CAF50;
            color: white;
        }

        .dropdown-content a:hover {
            background-color: #00cc99;
            color: white;
            -webkit-transform: scale(1.3);
            -ms-transform: scale(1.3);
            transform: scale(1.3);
            transition: all 0.3s ease;
        }

.dropdown:hover .dropdown-content {
    display: block;
}

.loginTerm {
    padding-top: 20px;
    border: 2px solid #00cc99;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 20px;
    width: 400px;
}

.option-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    top: 13.33333px;
    right: 0;
    bottom: 0;
    left: 0;
    height: 40px;
    width: 40px;
    transition: all 0.15s ease-out 0s;
    background: #cbd1d8;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-right: 0.5rem;
    outline: none;
    position: relative;
    z-index: 1000;
}

    .option-input:hover {
        background: #9faab7;
    }

    .option-input:checked {
        background: #00cc99;
    }

        .option-input:checked::before {
            height: 40px;
            width: 40px;
            position: absolute;
            content: '✔';
            display: inline-block;
            font-size: 26.66667px;
            text-align: center;
            line-height: 40px;
        }

        .option-input:checked::after {
            -webkit-animation: click-wave 0.65s;
            -moz-animation: click-wave 0.65s;
            animation: click-wave 0.65s;
            background: #00cc99;
            content: '';
            display: block;
            position: relative;
            z-index: 100;
        }

    .option-input.radio {
        border-radius: 50%;
    }

        .option-input.radio::after {
            border-radius: 50%;
        }

.login-btn {
    position: relative;
    display: block;
    padding: 19px 39px 18px 39px;
    color: #FFF;
    margin: 0 auto;
    background: #1abc9c;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    width: 400px;
    border: 1px solid #16a085;
    border-width: 1px 1px 3px;
    margin-bottom: 10px;
}

    .login-btn:hover,
    .login-btn:hover {
        background: #109177;
    }

.register-btn {
    position: relative;
    display: block;
    padding: 19px 39px 18px 39px;
    color: #FFF;
    margin: 0 auto;
    background: #000000;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    width: 400px;
    border: 1px solid #16a085;
    border-width: 1px 1px 3px;
    margin-bottom: 10px;
}