@model PagedList.IPagedList<DoAn1.App_Data.Sach>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <div class="row">
        <div class="sidebar col-lg-3">
          
        </div>
        <div id="myCarousel" class="carousel slide col-lg-9" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                @if (ViewBag.Banners != null)
                {
                    for (int i = 0; i < ViewBag.Banners.Count; i++)
                    {
                        if (i == 0)
                        {
                            <div class="item active">
                                <img src="~/UploadedFiles/@ViewBag.Banners[i].LinkAnh" />
                            </div>
                        }
                        else
                        {
                            <div class="item">
                                <img src="~/UploadedFiles/@ViewBag.Banners[i].LinkAnh" />
                            </div>
                        }
                    }
                }
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <!-- Addvertise -->
    <div class="col-lg-3">
    </div>


    <!-- Booklist-->
    <div class="col-lg-9 booklist">
        <!-- Picture, Title and Price-->
        <div class="row">
            @if (ViewBag.ListBook != null)
            {

                foreach (var item in ViewBag.ListBook)
                {
                    <a href="~/Home/Detail/@item.id">
                        <div class="col-lg-3 text-center box box-padding">
                            <img src="~/UploadedFiles/@item.HinhSach" alt="@item.TenSach" class="book justify-content-center img-sach">
                            <div class="price">-15%</div>
                            <div class="title">@item.TenSach</div>
                            <div class="gia"> @item.GiaSach VNĐ</div>
                            <div class="text-center starbox">
                                <i class="glyphicon glyphicon-star star"></i>
                                <i class="glyphicon glyphicon-star star"></i>
                                <i class="glyphicon glyphicon-star star"></i>
                                <i class="glyphicon glyphicon-star star"></i>
                                <i class="glyphicon glyphicon-star star"></i>
                                <i class="title">(105)</i>

                            </div>

                        </div>
                    </a>
                }
            }

            else
            {
                <div class="column">Không tìm được sách theo nhu cầu!</div>
            }
        </div>
        <!-- Page Navigation -->


    </div>

</body>
