@{
    ViewBag.Title = "Redirect";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="warning-text">@ViewBag.Messenge</div>
<div style="text-align:center"><h1>Click <a href="/Home" class="cheer-text">Vào đây</a> để về trang chủ</h1>  </div>
