@{
    var user = Session["User"] as DoAn1.Models.LoginModel;
}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Trang Chủ</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/bookdetail.css" rel="stylesheet" />
</head>

<body P>
    <nav class="navbar">
        <div class="container-fluid">

            <!-- BRAND and LOGO (Navigation 1) -->
            <div class="navbar-header">
                <a class="navbar-brand" href="~/home">
                    <img alt="Brand" class="logo-img" src="~/Content/Recycle-Handbook.png">
                    <a class="navbar-brand nav-element" href="~/home">RE<span style="color:#00cc99; padding-right:50px">BOOK</span></a>
                </a>
            </div>

            <div class="navbar-left nav-select">
                <select class="text-center">
                    <option value="0">Book name</option>
                    <option value="1">Autor</option>
                    <option value="2">Publisher</option>
                </select>
            </div>

            <form action="~/Home/SearchBook" method="get">
                <div class="wrap navbar-left">

                    <div class="search">

                        <input type="text" class="searchTerm" name="SearchString" placeholder="What are you looking for?" />

                        <button type="submit" class="searchButton">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </div>
                </div>
            </form>

            <div class="cart navbar-left">
                <i class="glyphicon glyphicon-shopping-cart"></i>
            </div>
            <div class="cart-text navbar-left">
                <a href="~/Home/CartDetail">My Cart</a>
            </div>

            <div class="login navbar-left">
                <i class="glyphicon glyphicon-user"></i>
            </div>
            @if (user == null)
            {
                <div class="login-text navbar-left">
                    <a href="~/Login">Login</a>
                </div>
            }
            else
            {
                <div class="logined-text navbar-left">
                    <li style="list-style-type:none;">
                        <ul> <a class="" style="font-size: 20px; color:rgba(0,0,0,.7); font-weight:600;" href="#">@user.TenKH</a></ul>
                        <ul><a href="/Login/Logout" id="logout-user"><b>Đăng Xuất</b></a></ul>
                    </li>
                </div>
            }
        </div>
    </nav>

    <!-- Navigation 2 -->
    <div class="navbar2">
        <ul>
            <div class="dropdown">
                <button class="dropbtn">Thể Loại</button>
                <div class="dropdown-content">
                    <a href="~/Home/CategoryBook?categoryString=Truyện Trinh Thám"> Truyện Trinh Thám</a>
                    <a href="~/Home/CategoryBook?categoryString=Truyện Ngôn Tình">Truyện Ngôn Tình</a>
                    <a href="~/Home/CategoryBook?categoryString=Sách Song Ngữ">Sách Song Ngữ</a>
                    <a href="~/Home/CategoryBook?categoryString=Sách Khoa Học">Sách Khoa Học</a>
                    <a href="~/Home/CategoryBook?categoryString=Truyện Khoa Học Viễn Tưởng">Truyện Khoa Học Viễn Tưởng</a>
                    <a href="~/Home/CategoryBook?categoryString=Sách Dạy Nấu Ăn">Sách Dạy Nấu Ăn</a>
                    <a href="~/Home/CategoryBook?categoryString=Truyện Thiếu Nhi">Truyện Thiếu Nhi</a>
                    <a href="~/Home/CategoryBook?categoryString=Văn Học Nước Ngoài">Văn Học Nước Ngoài</a>
                    <a href="~/Home/CategoryBook?categoryString=Sách Giáo Khoa">Sách Giáo Khoa</a>
                    <a href="~/Home/CategoryBook?categoryString=Tập Tô Màu">Tập Tô Màu</a>
                </div>
            </div>
            <li><a class="@(ViewBag.Title == "Index" ? "active":"")" href="@Url.Action("Index","Home")">Trang chủ</a></li>
            <li><a href="#accountt">Tài khoản</a></li>
            <li><a href="#about">Giới thiệu</a></li>
        </ul>
    </div>
    <div class="container">
        @RenderBody()
    </div>
</body>